#Ignore preprocessed data
preprocessed_data/*

#Ignore project data
spine_generic
rootlet_project
registered_spine_generic

#Ignore runs data
runs/*

#Ignore wandb data
wandb/

#Ignore python cache
**/__pycache__/

#Ignore notebook chackpoints
**/*.ipynb_checkpoints/
