#Ignore preprocessed data
projects/preprocessed_data/*

#Ignore project data
projects/data/*

#Ignore runs data
runs/*

#Ignore wandb data
wandb/

#Ignore python cache
**/__pycache__/

#Ignore notebook chackpoints
**/*.ipynb_checkpoints/

#Ignore personnal experiments
_experiments/

#Ignore mri files
**/*.nii.gz
